USE [Scratch]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET NOCOUNT ON;
GO
IF (OBJECT_ID('dbo.Airports') IS NULL)
BEGIN
	CREATE TABLE [dbo].[Airports]
	(
		[IATA] [VARCHAR](4) NULL,
		[Airport] [VARCHAR](80) NULL,
		[City] [VARCHAR](56) NULL,
		[State] [VARCHAR](2) NULL,
		[Country] [VARCHAR](30) NULL,
		[Lat] [REAL] NULL,
		[Long] [REAL] NULL
	)
		ON [PRIMARY];
END
GO
INSERT [dbo].[Airports] ([IATA], [Airport], [City], [State], [Country], [Lat], [Long]) VALUES (N'00M', N'Thigpen ', N'Bay Springs', N'MS', N'USA', 31.953764, -89.2345047)
INSERT [dbo].[Airports] ([IATA], [Airport], [City], [State], [Country], [Lat], [Long]) VALUES (N'00R', N'Livingston Municipal', N'Livingston', N'TX', N'USA', 30.6858616, -95.01793)
INSERT [dbo].[Airports] ([IATA], [Airport], [City], [State], [Country], [Lat], [Long]) VALUES (N'00V', N'Meadow Lake', N'Colorado Springs', N'CO', N'USA', 38.9457474, -104.569893)
GO
